@charset "UTF-8";
@keyframes loader {
  0% {
    opacity: 1; }
  85% {
    opacity: 1; }
  99% {
    z-index: 5; }
  100% {
    opacity: 0;
    z-index: -10; } }
@keyframes loader-spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(2vw);
    @media screen and (min-width: 600px) {
      transform: translateY(1vw); } }
  100% {
    opacity: 1;
    transform: translateY(0vw); } }
@font-face {
  font-family: 'Shrikhand';
  src: url("../fonts/Shrikhand-Regular.ttf"); }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/Roboto-Thin.ttf"); }
* {
  font-family: 'Roboto'; }

a {
  text-decoration: none;
  color: black; }

button {
  border: none;
  background-color: rgba(255, 255, 255, 0); }

li {
  list-style-type: none; }

* {
  padding: 0px;
  margin: 0px; }

body {
  background-color: #EAEAEA;
  padding: 0px; }

.header {
  width: 100%;
  box-shadow: 0 0.85vw 0.85vw #CFCFCF;
  background-color: white;
  height: 17.33vw;
  padding-top: auto; }
  .header__logo {
    width: 46%;
    margin: auto;
    padding-top: 5.33vw; }
    .header__logo img {
      width: 100%; }
  .header__previous {
    position: absolute;
    top: 5.5vw;
    left: 5.5vw;
    border: none;
    background-color: white;
    font-size: 5.5vw;
    color: #2D2D2D; }
  @media screen and (min-width: 600px) {
    .header {
      height: 10vw;
      box-shadow: 0 0.51vw 0.51vw #CFCFCF; }
      .header__logo {
        width: 25%;
        padding-top: 3.3vw; }
      .header__previous {
        top: 3.3vw;
        left: 3.3vw;
        font-size: 3.3vw; } }
  @media screen and (min-width: 1020px) {
    .header {
      height: 6vw;
      box-shadow: 0 0.25vw 0.25vw #CFCFCF; }
      .header__logo {
        width: 13%;
        padding-top: 2vw; }
      .header__previous {
        top: 2vw;
        left: 2vw;
        font-size: 2vw; } }

.footer {
  padding: 6.67vw;
  background-color: #353535; }
  .footer__logo {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(126deg) brightness(102%) contrast(102%);
    height: 4.8vw;
    margin-bottom: 5.33vw; }
    .footer__logo img {
      height: 100%; }
  .footer__link {
    color: white;
    margin-bottom: 2.9vw;
    font-size: 4.27vw; }
    @media screen and (min-width: 600px) {
      .footer__link {
        font-size: 2.562vw; } }
    @media screen and (min-width: 1020px) {
      .footer__link {
        font-size: 1.281vw; } }
    .footer__link a {
      color: white; }
    .footer__link i {
      margin-right: 4vw; }
  .footer__ustensils-icon .fas {
    font-size: 4.28vw; }
    @media screen and (min-width: 600px) {
      .footer__ustensils-icon .fas {
        font-size: 2.568vw; } }
    @media screen and (min-width: 1020px) {
      .footer__ustensils-icon .fas {
        font-size: 1.284vw; } }
  .footer__hands-icon .fas {
    font-size: 3.1vw; }
    @media screen and (min-width: 600px) {
      .footer__hands-icon .fas {
        font-size: 1.86vw; } }
    @media screen and (min-width: 1020px) {
      .footer__hands-icon .fas {
        font-size: 0.93vw; } }
  @media screen and (min-width: 1020px) {
    .footer {
      padding: 2vw; }
      .footer__logo {
        height: 2vw;
        margin-bottom: 1.6vw; }
      .footer__link {
        margin-bottom: 0.9vw; }
        .footer__link i {
          margin-right: 1.2vw; } }

.loader {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background-color: white;
  animation: loader 2000ms both; }
  .loader__spinner {
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    margin: auto;
    border-top: 1vh solid rgba(147, 86, 220, 0.2);
    border-right: 1vh solid rgba(147, 86, 220, 0.2);
    border-bottom: 1vh solid rgba(147, 86, 220, 0.2);
    border-left: 1vh solid #9356DC;
    animation: loader-spinner 500ms infinite ease-in-out; }

.location__current {
  width: 100%;
  height: 13.33vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .location__current i {
    margin-right: 4.8vw;
    font-size: 4.27vw; }
    @media screen and (min-width: 600px) {
      .location__current i {
        font-size: 2.562vw; } }
    @media screen and (min-width: 1020px) {
      .location__current i {
        font-size: 1.281vw; } }
  .location__current p {
    margin-right: 9.33vw;
    font-size: 4.27vw; }
    @media screen and (min-width: 600px) {
      .location__current p {
        font-size: 2.562vw; } }
    @media screen and (min-width: 1020px) {
      .location__current p {
        font-size: 1.281vw; } }
.location__explorate {
  padding: 10.67vw 10.67vw 15.2vw;
  background-color: rgba(255, 255, 255, 0.55);
  text-align: center; }
  .location__explorate h1 {
    margin-bottom: 5vw;
    font-size: 6.67vw;
    padding: 0 6.67vw; }
    @media screen and (min-width: 600px) {
      .location__explorate h1 {
        font-size: 4.002vw; } }
    @media screen and (min-width: 1020px) {
      .location__explorate h1 {
        font-size: 2.001vw; } }
  .location__explorate p {
    font-family: 'Roboto Thin';
    font-size: 4.27vw; }
    @media screen and (min-width: 600px) {
      .location__explorate p {
        font-size: 2.562vw; } }
    @media screen and (min-width: 1020px) {
      .location__explorate p {
        font-size: 1.281vw; } }
  .location__explorate button {
    position: relative;
    z-index: 1;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    padding: 4.8vw 5.87vw;
    border-radius: 8.53vw;
    color: white;
    box-shadow: 0 2.13vw 2.13vw #C4C4C4;
    font-size: 4.27vw;
    margin-top: 8.27vw; }
    @media screen and (min-width: 600px) {
      .location__explorate button {
        font-size: 2.562vw; } }
    @media screen and (min-width: 1020px) {
      .location__explorate button {
        font-size: 1.708vw; } }
    @media screen and (min-width: 600px) {
      .location__explorate button {
        padding: 2.8vw 3.5vw;
        box-shadow: 0 1.27vw 1.27vw #C4C4C4; } }
    @media screen and (min-width: 1020px) {
      .location__explorate button {
        padding: 1.4vw 1.8vw;
        box-shadow: 0 0.64vw 0.64vw #C4C4C4; } }
    .location__explorate button:hover::after {
      opacity: 1; }
    .location__explorate button::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 3vw 3vw #C4C4C4;
      border-radius: 8.53vw;
      background: linear-gradient(0deg, #8641d8, #ff60d3);
      opacity: 0;
      z-index: -1;
      transition: opacity 300ms; }
      @media screen and (min-width: 600px) {
        .location__explorate button::after {
          box-shadow: 0 2vw 2vw #C4C4C4; } }
      @media screen and (min-width: 1020px) {
        .location__explorate button::after {
          box-shadow: 0 1vw 1vw #C4C4C4; } }
@media screen and (min-width: 600px) {
  .location__current {
    height: 8vw; }
    .location__current i {
      margin-right: 2vw; }
    .location__current p {
      margin-right: 2.8vw; }
  .location__explorate {
    padding: 6.4vw 6.4vw 8vw; }
    .location__explorate h1 {
      margin-bottom: 2vw; }
    .location__explorate button {
      margin-top: 6vw; } }
@media screen and (min-width: 1020px) {
  .location__current {
    height: 5vw; }
    .location__current i {
      margin-right: 1.4vw; }
    .location__current p {
      margin-right: 1.8vw; }
  .location__explorate {
    padding: 3.2vw 3.2vw 4vw; }
    .location__explorate h1 {
      margin-bottom: 1vw; }
    .location__explorate button {
      margin-top: 3vw; } }

.help {
  padding: 13.87vw 5.33vw 11.47vw;
  background-color: white; }
  .help__heading {
    margin-bottom: 6.67vw;
    font-size: 6.67vw; }
    @media screen and (min-width: 600px) {
      .help__heading {
        font-size: 4.002vw; } }
    @media screen and (min-width: 1020px) {
      .help__heading {
        font-size: 2.001vw; } }
  .help__explanation {
    background-color: rgba(234, 234, 234, 0.45);
    box-shadow: 0px 0.3em 0.5em #E2E2E2;
    padding: 6.67vw 0;
    margin-left: 3.8vw;
    margin-bottom: 6.67vw;
    border-radius: 4.8vw;
    justify-items: center;
    position: relative; }
    .help__explanation span {
      background-color: #9356DC;
      position: relative;
      right: 4%;
      border-radius: 100%;
      padding: 1vw 2vw;
      color: white;
      font-size: 3.2vw;
      margin-right: 2%; }
      @media screen and (min-width: 600px) {
        .help__explanation span {
          font-size: 0.96vw; } }
      @media screen and (min-width: 1020px) {
        .help__explanation span {
          font-size: 0.96vw; } }
    .help__explanation i {
      color: grey;
      font-size: 5vw; }
      @media screen and (min-width: 600px) {
        .help__explanation i {
          font-size: 1.5vw; } }
      @media screen and (min-width: 1020px) {
        .help__explanation i {
          font-size: 1.5vw; } }
    .help__explanation p {
      position: absolute;
      left: 25%;
      top: 40%;
      font-size: 4.27vw; }
      @media screen and (min-width: 600px) {
        .help__explanation p {
          font-size: 1.708vw; } }
      @media screen and (min-width: 1020px) {
        .help__explanation p {
          font-size: 1.281vw; } }
    .help__explanation:hover {
      background-color: rgba(147, 86, 220, 0.1); }
      .help__explanation:hover i {
        color: #9356DC; }
  @media screen and (min-width: 600px) {
    .help {
      padding: 7vw 3.2vw;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, min-content); }
      .help__heading {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        margin-bottom: 3vw; }
      .help__explanation {
        margin-bottom: 0;
        padding: 2.5vw 0;
        border-radius: 2vw; }
        .help__explanation span {
          right: 4%;
          padding: 0.5vw 0.8vw;
          color: white;
          margin-right: 2%; } }
  @media screen and (min-width: 1020px) {
    .help {
      padding: 3.5vw 1.6vw; }
      .help__heading {
        margin-bottom: 2vw; } }

.grid {
  padding: 15.47vw 5.33vw 17.07vw;
  background-color: rgba(255, 255, 255, 0.55);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1;
  row-gap: 4.8vw;
  column-gap: 2.4vw; }
  .grid__heading {
    font-size: 6.67vw; }
    @media screen and (min-width: 600px) {
      .grid__heading {
        font-size: 4.002vw; } }
    @media screen and (min-width: 1020px) {
      .grid__heading {
        font-size: 2.001vw; } }
  @media screen and (min-width: 600px) {
    .grid {
      padding: 9.2vw 3.2vw 10.2vw;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: min-content repeat(2, 1fr);
      row-gap: 2.4vw; }
      .grid__heading {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1; } }
  @media screen and (min-width: 1020px) {
    .grid {
      padding: 4.6vw 1.6vw 5.6vw;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: min-content 1fr;
      column-gap: 1.2vw; }
      .grid__heading {
        grid-column-start: 1;
        grid-column-end: 5; } }

.restaurant {
  width: 100%;
  height: 67vw;
  border-radius: 4vw;
  box-shadow: 0px 0.3em 0.5em #E2E2E2;
  position: relative;
  overflow: hidden;
  background-color: white; }
  .restaurant__image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: 50% 100%; }
    .restaurant__image[alt="Restaurant La note enchantée"] {
      object-position: 50% 60%; }
  .restaurant__new {
    position: absolute;
    top: 3.2vw;
    right: 3.2vw;
    border-radius: 0.5vw;
    background-color: #99E2D0;
    padding: 1.5vw 3.2vw;
    color: #217460;
    font-size: 3.5vw; }
    @media screen and (min-width: 600px) {
      .restaurant__new {
        font-size: 1.75vw; } }
    @media screen and (min-width: 1020px) {
      .restaurant__new {
        font-size: 0.875vw; } }
  .restaurant figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: repeat(2, min-content);
    height: min-content;
    padding: 5.5% 6.4vw 5.5% 3.73vw; }
  .restaurant__heading {
    font-size: 5vw; }
    @media screen and (min-width: 600px) {
      .restaurant__heading {
        font-size: 2.5vw; } }
    @media screen and (min-width: 1020px) {
      .restaurant__heading {
        font-size: 1.25vw; } }
  .restaurant__location {
    font-size: 4.27vw;
    font-family: 'Roboto Thin'; }
    @media screen and (min-width: 600px) {
      .restaurant__location {
        font-size: 2.135vw; } }
    @media screen and (min-width: 1020px) {
      .restaurant__location {
        font-size: 1.0675vw; } }
  .restaurant__like {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 7.8vw;
    position: relative;
    z-index: 2; }
    @media screen and (min-width: 600px) {
      .restaurant__like {
        font-size: 4.29vw; } }
    @media screen and (min-width: 1020px) {
      .restaurant__like {
        font-size: 2.106vw; } }
    .restaurant__like:hover .restaurant__full-like {
      opacity: 1; }
  .restaurant__full-like {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 250ms; }
    .restaurant__full-like i {
      background: -moz-linear-gradient(180deg, #9356DC, #FF79DA);
      background: -webkit-linear-gradient(180deg, #9356DC, #FF79DA);
      background: linear-gradient(180deg, #9356DC, #FF79DA);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 7.8vw;
      opacity: 1; }
      @media screen and (min-width: 600px) {
        .restaurant__full-like i {
          font-size: 4.29vw; } }
      @media screen and (min-width: 1020px) {
        .restaurant__full-like i {
          font-size: 2.106vw; } }
  @media screen and (min-width: 600px) {
    .restaurant {
      height: 34.1vw;
      border-radius: 2vw; }
      .restaurant figcaption {
        padding: 5% 3vw 5% 1.5vw; }
      .restaurant__new {
        top: 1.7vw;
        right: 1.7vw;
        padding: 0.7vw 1.5vw;
        border-radius: 0.25vw; } }
  @media screen and (min-width: 1020px) {
    .restaurant {
      height: 17.05vw;
      border-radius: 1vw; }
      .restaurant figcaption {
        padding: 5.5% 1.5vw 5.5% 0.75vw; }
      .restaurant__new {
        top: 0.85vw;
        right: 0.85vw;
        padding: 0.35vw 0.8vw;
        border-radius: 0.12vw; } }

.restaurant {
  background-color: #F6F6F6;
  overflow-y: scroll; }

.image {
  width: 100%;
  height: 70vw;
  overflow: hidden; }
  .image img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  @media screen and (min-width: 600px) {
    .image {
      height: 50vw; } }
  @media screen and (min-width: 1020px) {
    .image {
      height: 30vw; } }

.menu {
  position: relative;
  top: -14vw;
  border-radius: 14vw 14vw 0 0;
  padding: 10.67vw 3.73vw 8vw;
  display: flex;
  flex-direction: column;
  align-items: top;
  background-color: #F6F6F6; }
  .menu__restaurant, .menu__subtitle, .menu__green-line {
    margin-left: 1.6vw; }
  .menu__restaurant {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
    margin-right: 6.4vw;
    width: 90%; }
  .menu__heading {
    font-family: 'Shrikhand';
    font-size: 7.3vw; }
    @media screen and (min-width: 600px) {
      .menu__heading {
        font-size: 4.38vw; } }
    @media screen and (min-width: 1020px) {
      .menu__heading {
        font-size: 3.285vw; } }
  .menu__like {
    background-color: none;
    font-size: 7.8vw; }
    @media screen and (min-width: 600px) {
      .menu__like {
        font-size: 4.68vw; } }
    @media screen and (min-width: 1020px) {
      .menu__like {
        font-size: 3.12vw; } }
  .menu__subtitle {
    font-family: 'Roboto Thin';
    font-size: 4.27vw;
    text-transform: uppercase;
    margin-top: 6vw;
    margin-bottom: 1.8vw; }
    @media screen and (min-width: 600px) {
      .menu__subtitle {
        font-size: 2.562vw; } }
    @media screen and (min-width: 1020px) {
      .menu__subtitle {
        font-size: 1.4945vw; } }
  .menu__green-line {
    background-color: #99E2D0;
    height: 0.6vw;
    width: 10.67vw;
    margin-bottom: 3.67vw; }
  .menu__part {
    width: 100%; }
  .menu__command {
    position: relative;
    z-index: 1;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    padding: 4.8vw 5.87vw;
    border-radius: 8.53vw;
    color: white;
    box-shadow: 0 2.13vw 2.13vw #C4C4C4;
    font-size: 4.27vw;
    padding-right: 12.8vw;
    padding-left: 12.8vw;
    margin: 5.53vw auto 0;
    width: min-content; }
    @media screen and (min-width: 600px) {
      .menu__command {
        font-size: 2.562vw; } }
    @media screen and (min-width: 1020px) {
      .menu__command {
        font-size: 1.708vw; } }
    @media screen and (min-width: 600px) {
      .menu__command {
        padding: 2.8vw 3.5vw;
        box-shadow: 0 1.27vw 1.27vw #C4C4C4; } }
    @media screen and (min-width: 1020px) {
      .menu__command {
        padding: 1.4vw 1.8vw;
        box-shadow: 0 0.64vw 0.64vw #C4C4C4; } }
    .menu__command:hover::after {
      opacity: 1; }
    .menu__command::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 3vw 3vw #C4C4C4;
      border-radius: 8.53vw;
      background: linear-gradient(0deg, #8641d8, #ff60d3);
      opacity: 0;
      z-index: -1;
      transition: opacity 300ms; }
      @media screen and (min-width: 600px) {
        .menu__command::after {
          box-shadow: 0 2vw 2vw #C4C4C4; } }
      @media screen and (min-width: 1020px) {
        .menu__command::after {
          box-shadow: 0 1vw 1vw #C4C4C4; } }
  @media screen and (min-width: 600px) {
    .menu {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      top: -6.4vw;
      border-radius: 6.4vw 6.4vw 0 0;
      padding: 6.4vw 3.2vw 4.8vw; }
      .menu__restaurant {
        margin-bottom: 4vw; }
      .menu__command {
        padding-right: 7.7vw;
        padding-left: 7.7vw; }
      .menu__part {
        width: 31.8%; }
      .menu__subtitle {
        margin-bottom: 0.7vw; }
      .menu__green-line {
        height: 0.4vw;
        width: 6.2vw;
        margin-bottom: 1.5vw; } }
  @media screen and (min-width: 1020px) {
    .menu {
      top: -3.2vw;
      border-radius: 3.2vw 3.2vw 0 0;
      padding: 3.2vw 1.6vw 2.4vw; }
      .menu__restaurant {
        margin-bottom: 0; }
      .menu__command {
        padding-right: 3.8vw;
        padding-left: 3.8vw; }
      .menu__subtitle {
        margin-bottom: 0.3vw; }
      .menu__green-line {
        height: 0.23vw;
        width: 3.8vw;
        margin-bottom: 1.3vw; }
      .menu__command {
        margin: 2.8vw auto; } }

.choice {
  animation: apparition 450ms both;
  border-radius: 4vw;
  background-color: white;
  box-shadow: 0px 0.3em 0.5em #E2E2E2;
  display: flex;
  justify-content: space-between;
  height: 18.4vw;
  width: 100%;
  margin-bottom: 4vw;
  overflow: hidden;
  position: relative; }
  .choice:hover .choice__select {
    transform: translateX(0%); }
    .choice:hover .choice__select i {
      transform: rotate(360deg); }
  .choice:hover .choice__description {
    width: 75%; }
  .choice--1 {
    animation-delay: 225ms; }
  .choice--2 {
    animation-delay: 225ms; }
  .choice--3 {
    animation-delay: 225ms; }
  .choice--4 {
    animation-delay: 225ms; }
  .choice--5 {
    animation-delay: 225ms; }
  .choice--6 {
    animation-delay: 225ms; }
  .choice--7 {
    animation-delay: 225ms; }
  .choice--8 {
    animation-delay: 225ms; }
  .choice--9 {
    animation-delay: 225ms; }
  .choice--10 {
    animation-delay: 225ms; }
  .choice__description {
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: auto;
    padding: 3.73vw 5vw 3.73vw 3.2vw;
    transition: width 1000ms ease-out; }
  .choice__heading {
    font-size: 4.7vw;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    @media screen and (min-width: 600px) {
      .choice__heading {
        font-size: 1.41vw; } }
    @media screen and (min-width: 1020px) {
      .choice__heading {
        font-size: 1.41vw; } }
  .choice__side {
    position: relative;
    font-family: 'Roboto Thin';
    font-size: 4vw;
    margin-top: auto;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2; }
    @media screen and (min-width: 600px) {
      .choice__side {
        font-size: 1.2vw; } }
    @media screen and (min-width: 1020px) {
      .choice__side {
        font-size: 1.2vw; } }
  .choice__price {
    font-weight: bold;
    font-size: 4vw;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2; }
    @media screen and (min-width: 600px) {
      .choice__price {
        font-size: 1.2vw; } }
    @media screen and (min-width: 1020px) {
      .choice__price {
        font-size: 1.2vw; } }
  .choice__select {
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #99E2D0;
    color: white;
    transform-origin: 100% 50%;
    transform: translateX(100%);
    transition: transform 1000ms; }
    .choice__select i {
      font-size: 5vw;
      transition: transform 1000ms;
      transform: rotate(0deg); }
  @media screen and (min-width: 600px) {
    .choice {
      height: 7vw;
      border-radius: 1.3vw;
      margin-bottom: 1.5vw; }
      .choice__description {
        padding: 1.9vw 1.2vw; } }

/*# sourceMappingURL=style.css.map */
