@keyframes loader{
    0%{
        opacity: 1; 
    }
    85%{
        opacity: 1; 

    }
    99%{
        z-index: 5;
    }
    100%{
        opacity: 0;
        z-index: -10;
    }
}

@keyframes loader-spinner{
    0%{
        transform: rotate(0deg); 
    }
    100%{
        transform: rotate(360deg);
    }
}


@keyframes apparition{
    0%{
        opacity: 0;
        transform: translateY(2vw);
        @include tablet-responsive{
            transform: translateY(1vw);
        }
    }
    100%{
        opacity: 1;
        transform: translateY(0vw);
    }
}


