@mixin tablet-responsive{
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}
@mixin computer-responsive{
    @media screen and (min-width: map-get($breakpoints, computer)){
        @content;
    }
}

@mixin size($size: text, $coeff-tablet: 0.6, $coeff-computer: 0.3){
    font-size: map-get($font-size, $size);
    @include tablet-responsive{
        font-size: map-get($font-size, $size)*$coeff-tablet;
    }
    @include computer-responsive{
        font-size: map-get($font-size, $size)*$coeff-computer;
    }
}

@mixin button {
    background: linear-gradient( 0deg, $color-primary, $color-secondary);
    padding: 4.8vw 5.87vw;
    border-radius: 8.53vw;
    color: white;
    box-shadow: 0 2.13vw 2.13vw #C4C4C4;
    @include size(text,0.6,0.4);
    @include tablet-responsive{
        padding: 2.8vw 3.5vw;
    }
    @include computer-responsive{
        padding: 1.4vw 1.8vw;
    }
}
