@mixin tablet-responsive{
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}
@mixin computer-responsive{
    @media screen and (min-width: map-get($breakpoints, computer)){
        @content;
    }
}

@mixin size($size: text, $coeff-tablet: 0.6, $coeff-computer: 0.3){
    font-size: map-get($font-size, $size);
    @include tablet-responsive{
        font-size: map-get($font-size, $size)*$coeff-tablet;
    }
    @include computer-responsive{
        font-size: map-get($font-size, $size)*$coeff-computer;
    }
}

@mixin button {
    position: relative;
    z-index: 1;
    background: linear-gradient( 0deg, $color-primary, $color-secondary);
    padding: 4.8vw 5.87vw;
    border-radius: 8.53vw;
    color: white;
    box-shadow: 0 2.13vw 2.13vw #C4C4C4;
    @include size(text,0.6,0.4);
    @include tablet-responsive{
        padding: 2.8vw 3.5vw;
        box-shadow: 0 1.27vw 1.27vw #C4C4C4;
    }
    @include computer-responsive{
        padding: 1.4vw 1.8vw;
        box-shadow: 0 0.64vw 0.64vw #C4C4C4;
    }
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content:"";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
        box-shadow: 0 3vw 3vw #C4C4C4;
        border-radius: 8.53vw;
        background: linear-gradient( 0deg, lighten($color-primary, 3%), lighten($color-secondary, 3%));
        opacity: 0;
        z-index:-1;
        transition: opacity 300ms;
        @include tablet-responsive{
            box-shadow: 0 2vw 2vw #C4C4C4;
        }
        @include computer-responsive{
            box-shadow: 0 1vw 1vw #C4C4C4;
        }
    }
}

