@mixin button {
    background: linear-gradient( 0deg, $color-primary, $color-secondary);
    padding: 4.8vw 5.87vw;
    border-radius: 2em;
    color: white;
    box-shadow: 0 0.5em 0.5em #C4C4C4;
    font-size: 4.27vw;
}

