$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-button: linear-gradient( 0deg, $color-primary, $color-secondary);
$background-color: #EAEAEA;
$background-grey:rgba(white, .55);
$background-grey2:rgba($background-color, .45);

$menu-background-color: #F6F6F6;


$box-shadow: 0px 0.3em 0.5em #E2E2E2;


$padding: 3em 1em 3em;
$font-size: (
    heading-menu: 7.3vw,
    heading: 6.67vw,
    restaurant-link: 5vw,
    text: 4.27vw,
    heart: 7.8vw, 
    full-heart: 7.8vw,
    exp-number:3.2vw,
    exp-icon: 5vw,
    new: 3.5vw,
    choice-heading: 4.7vw,
    choice-side: 4vw,
    ustensils-icon: 4.28vw,
    hands-icon: 3.1vw,
);

$breakpoints: (
    tablet: 600px,
    computer: 1020px,
);



$anim-dur : (
    loader : 2000ms,
    loader-spinner : 500ms,
    apparition: 450ms,
);
$anim-delay : (
    apparition: map-get($anim-dur, apparition) * 0.5,
    );