

.location{
    &__current{
        width:100%;
        height: 13.33vw;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            margin-right: 4.8vw;
            @include size;
        }
        p{
            margin-right: 9.33vw;
            @include size;
        }
    }
    &__explorate{
        padding: 10.67vw 10.67vw 15.2vw;
        background-color: $background-grey;
        text-align: center;
        h1{
            margin-bottom: 5vw; 
            @include size(heading);
            padding: 0 6.67vw;
        }
        p{
            font-family: 'Roboto Thin';
            @include size;
        }
        button{
            @include button;
            margin-top: 8.27vw;
        }
    }
    @include tablet-responsive{
        &__current{
            height: 8vw;
            i{
                margin-right: 2vw;
            }
            p{
                margin-right: 2.8vw;
            }
        }
        &__explorate{
            padding: 6.4vw 6.4vw 8vw;
            h1{
                margin-bottom: 2vw; 
            }
            button{
                margin-top: 6vw;
            }
        }
    }
    @include computer-responsive{
        &__current{
            height: 5vw;
            i{
                margin-right: 1.4vw;
            }
            p{
                margin-right: 1.8vw;
            }
        }
        &__explorate{
            padding: 3.2vw 3.2vw 4vw;
            h1{
                margin-bottom: 1vw; 
            }
            button{
                margin-top: 3vw;
            }
        }
    }
}

.help{
    padding: 13.87vw 5.33vw 11.47vw;
    background-color: white;
    &__heading{
        margin-bottom: 6.67vw;
        @include size(heading);
    }
    &__explanation{
        background-color: $background-grey2;
        box-shadow: $box-shadow;
        padding:6.67vw 0;
        margin-left: 3.8vw;
        margin-bottom: 6.67vw;
        border-radius: 4.8vw;
        justify-items: center;
        position: relative;
        span{
            background-color: $color-primary;
            position: relative;
            right: 4%;
            border-radius:100%;
            padding:1vw 2vw;
            color: white;
            @include size(exp-number, 0.3);
            margin-right: 2%;
        }
        i{
            color: grey;
            @include size(exp-icon, 0.3);
        }
        p{
            position: absolute;
            left: 25%;
            top: 40%;
            @include size(text, 0.4);
        }
        &:hover{
            background-color: rgba($color-primary, .10);
            i{
                color: $color-primary;
            }
        }
    }
    @include tablet-responsive{
        padding: 7vw 3.2vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, min-content);
        &__heading{
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            margin-bottom: 3vw;
        }
        &__explanation{
            margin-bottom: 0;
            padding: 2.5vw 0;
            border-radius: 2vw;
            span{
                right: 4%;
                padding:0.5vw 0.8vw;
                color: white;
                margin-right: 2%;
            }
        }
    }
    @include computer-responsive{
        padding: 3.5vw 1.6vw;
        &__heading{
            margin-bottom: 2vw;
        }
    }
}

.grid{
    padding: 15.47vw 5.33vw 17.07vw;
    background-color: $background-grey;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1;
    row-gap: 4.8vw;
    column-gap: 2.4vw;
    &__heading{
        @include size(heading);
    }
    @include tablet-responsive{
        padding: 9.2vw 3.2vw 10.2vw;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: min-content repeat(2,1fr);
        row-gap: 2.4vw;
        &__heading{
            grid-column-start: 1 ;
            grid-column-end: 3;
            grid-row-start: 1;
        }       
    }
    @include tablet-responsive{
        padding: 4.6vw 1.6vw 5.6vw;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: min-content 1fr;
        column-gap: 1.2vw;
        &__heading{
            grid-column-start: 1;
            grid-column-end: 5;
        } 
    }
}


.restaurant{
    width: 100%;
    height: 67vw;
    border-radius: 4vw;
    box-shadow: $box-shadow;
    position: relative;
    background-color: white;
    overflow: hidden;
    &__image{
        width: 100%;
        height: 70%;
        object-fit: cover;
    }
    &__new{
        position: absolute;
        top: 3.2vw;
        right: 3.2vw;
        border-radius: 0.5vw;
        background-color: $color-tertiary;
        padding: 1.5vw 3.2vw;
        color: darken($color-tertiary, 45);
        @include size(new, 0.5, 0.25);
    }
    figcaption{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        height: 27%;
        padding: 0 6.4vw 0 3.73vw;
    }
    &__heading{
        width: max-content;
        @include size(restaurant-link, 0.5, 0.25);
    }
    &__location{
        @include size(text, 0.5, 0.25);
        font-family: 'Roboto Thin';
    }
    &__like{
        @include size(heart, 0.55, 0.27);
        width:min-content;
    }
    @include tablet-responsive{
        height: 34.1vw;
        border-radius: 2vw;
        figcaption{
            padding: 0 3vw 0 1.5vw;
        }
        &__new{
            top: 1.7vw;
            right: 1.7vw;
            padding: 0.7vw 1.5vw;
            border-radius: 0.25vw;
        }
    }
    @include computer-responsive{
        height: 17.05vw;
        border-radius: 1vw;
        figcaption{
            padding: 0 1.5vw 0 0.75vw;
        }
        &__new{
            top: 0.85vw;
            right: 0.85vw;
            padding: 0.35vw 0.8vw;
            border-radius: 0.12vw;
        }
    }
}

