.restaurant{
    background-color: $menu-background-color;
    overflow-y: scroll;
}

.image{
    width:100%;
    height: 70vw;
    overflow: hidden;
    img{
        height: 100%;
        width:100%;
        object-fit: cover;
    }
    @include tablet-responsive{
        height:50vw;
    }
    @include computer-responsive{
        height:30vw;
    }
}


.menu{
    position: relative;
    top: -14vw;
    border-radius: 14vw 14vw 0 0; 
    padding: 10.67vw 3.73vw 8vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: $menu-background-color;
    &__restaurant, &__subtitle, &__green-line{
        margin-left: 1.6vw;
    }
    &__restaurant{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-bottom: 1vw;
        margin-right: 6.4vw;
        width: 90%;
    }
    &__heading{
        font-family: 'Shrikhand';
        @include size(heading-menu, 0.6, 0.45);
    }
    &__like{
        @include size(heart, 0.65, 0.45);
        position: relative;
        z-index: 2;
        &:hover{
            .menu__full-like{
            opacity: 1;
            }
        }
    }
    &__full-like{
        background-color: $menu-background-color;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 250ms;
        i{
            background:-moz-linear-gradient(180deg, $color-primary, $color-secondary); 
            background: -webkit-linear-gradient(180deg, $color-primary, $color-secondary); 
            background: linear-gradient(180deg, $color-primary, $color-secondary);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color:transparent;
            display: inline;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include size(heart, 0.65, 0.45);
            opacity: 1;
        }
    }
    &__subtitle{
        font-family: 'Roboto Thin';
        @include size(text, 0.6, 0.35);
        text-transform: uppercase;
        margin-top: 6vw;
        margin-bottom: 1.8vw;
    }
    &__green-line{
        background-color: $color-tertiary;
        height: 0.6vw;
        width: 10.67vw;
        margin-bottom: 3.67vw;
    }
    &__part{
        width: 100%;
    }
    &__command{
        @include button;
        padding-right: 12.8vw;
        padding-left: 12.8vw;
        margin: 5.53vw auto 0;
        width: min-content;
    }
    @include tablet-responsive{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        top: -6.4vw;
        border-radius: 6.4vw 6.4vw 0 0;
        padding: 6.4vw 3.2vw 4.8vw; 
        &__restaurant{
            margin-bottom: 2vw;
            margin-right: 2vw;
        }
        &__command{
            padding-right: 7.7vw;
            padding-left: 7.7vw;
        }
        &__part{
            width:31.8%;
        }
        &__subtitle{
            margin-bottom: 0.7vw;
        }
        &__green-line{
            height: 0.4vw;
            width: 6.2vw;
            margin-bottom: 1.5vw;
        }
    }
    @include computer-responsive{
        top: -3.2vw;
        border-radius: 3.2vw 3.2vw 0 0;
        padding: 3.2vw 1.6vw 2.4vw; 
        &__restaurant{
            margin-bottom: 0;
        }
        &__command{
            padding-right: 3.8vw;
            padding-left: 3.8vw;
        }
        &__subtitle{
            margin-bottom: 0.3vw;
        }
        &__green-line{
            height: 0.23vw;
            width: 3.8vw;
            margin-bottom: 1.3vw;
        }
        &__command{
            margin: 2.8vw auto;
        }
    }
}



.choice{
    animation: apparition map-get($anim-dur, apparition) both;
    border-radius: 4vw;
    background-color: white;
    box-shadow: $box-shadow;
    display:flex;
    justify-content: space-between;
    height: 18.4vw;
    width:100%;
    margin-bottom: 4vw;
    overflow: hidden;
    position: relative;
    &:hover {
        .choice__select{
            transform: translateX(0%); 
            i{
                transform: translateX(0) rotate(360deg);
            }
        }
        .choice__description{
            width: 75%;
        }
    }
    &--1{
        animation-delay: map-get($anim-dur, loader);
    }
    @for $i from 2 through 10 {
        &--#{$i} {
            animation-delay: map-get($anim-delay, apparition) * ($i - 1) + map-get($anim-dur, loader);
        }
    }
    &__description{
        width: 100%;
        display: grid;
        grid-template-columns: 90% 10%;
        grid-template-rows: auto;
        padding: 3.73vw 5vw 3.73vw 3.2vw;
        transition: width 1000ms cubic-bezier(.21,1.08,.6,1);
    }
    &__heading{
        @include size(choice-heading, 0.3);
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__side{
        position: relative;
        font-family: 'Roboto Thin';
        @include size(choice-side, 0.3);
        margin-top: auto;
        width: 100%;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 2;
    }
    &__price{
        font-weight: bold;
        @include size(choice-side, 0.3);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 2;
    }
    &__select{
        position: absolute;
        right: 0;
        width: 20%;
        height: 100%;
        background-color: $color-tertiary;
        color: white;
        transform: translateX(100%); 
        transition: transform 1000ms;
        i{
            font-size: 5vw;
            transition: transform 1000ms;
            transform: translateX(-4.5vw) rotate(0deg) ;
        }
    }
    @include tablet-responsive{
        height: 7vw;
        border-radius: 1.3vw;
        margin-bottom: 1.5vw;
        &__description{
            padding: 1.9vw 1.2vw; 
        }
        &__select{
            i{
                @include size(check-icon, 0.3);
                transform: translateX(-1.5vw) rotate(0deg) ;
            }
        }
    }
}

