.restaurant{
    background-color: $menu-background-color;
    overflow-y: scroll;
}

.image{
    width:100%;
    img{
        width:100%;
    }
}

.menu{
    position: relative;
    top: -10.67vw;
    border-radius: 10.67vw 10.67vw 0 0; 
    padding: 10.67vw 3.73vw 8vw;
    display: flex;
    flex-direction: column;
    align-items: top;
    background-color: $menu-background-color;
    &__restaurant, &__subtitle, &__green-line{
        margin-left: 1.6vw;
    }
    &__restaurant{
        display: flex;
        justify-content:space-between;
        margin-bottom: 1vw;
        margin-right: 6.4vw;
        width: 90%;
    }
    &__heading{
        font-family: 'Shrikhand';
        @include size(heading-menu, 0.6, 0.45);
    }
    &__like{
        background-color: none;
        @include size(heart, 0.6, 0.4);
    }
    &__subtitle{
        font-family: 'Roboto Thin';
        @include size(text, 0.6, 0.35);
        text-transform: uppercase;
        margin-top: 6vw;
        margin-bottom: 1.8vw;
    }
    &__green-line{
        background-color: $color-tertiary;
        height: 0.6vw;
        width: 10.67vw;
        margin-bottom: 3.67vw;
    }
    &__part{
        width: 100%;
    }
    &__command{
        @include button;
        padding-right: 12.8vw;
        padding-left: 12.8vw;
        margin: 5.53vw auto 0;
        width: min-content;
    }
    @include tablet-responsive{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        top: -6.4vw;
        border-radius: 6.4vw 6.4vw 0 0;
        padding: 6.4vw 3.2vw 4.8vw; 
        &__restaurant{
            margin-bottom: 4vw;
        }
        &__command{
            padding-right: 7.7vw;
            padding-left: 7.7vw;
        }
        &__part{
            width:31.8%;
        }
        &__subtitle{
            margin-bottom: 0.7vw;
        }
        &__green-line{
            height: 0.4vw;
            width: 6.2vw;
            margin-bottom: 1.5vw;
        }
    }
    @include computer-responsive{
        top: -3.2vw;
        border-radius: 3.2vw 3.2vw 0 0;
        padding: 3.2vw 1.6vw 2.4vw; 
        &__restaurant{
            margin-bottom: 0;
        }
        &__command{
            padding-right: 3.8vw;
            padding-left: 3.8vw;
        }
        &__subtitle{
            margin-bottom: 0.3vw;
        }
        &__green-line{
            height: 0.23vw;
            width: 3.8vw;
            margin-bottom: 1.3vw;
        }
        &__command{
            margin: 2.8vw auto;
        }
    }
}

.choice{
    border-radius: 4vw;
    background-color: white;
    box-shadow: $box-shadow;
    display:flex;
    justify-content: space-between;
    height: 18.4vw;
    width:100%;
    margin-bottom: 4vw;
    overflow: hidden;
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: space-between;
        padding: 3.73vw 3.2vw;
        width:100%;
        flex-wrap: wrap;
    }
    &__heading{
        @include size(choice-heading, 0.3);
    }
    &__side{
        font-family: 'Roboto Thin';
        @include size(choice-side, 0.3);
        margin-top: auto;
    }
    &__price{
        font-weight: bold;
        @include size(choice-side, 0.3);
    }
    &__select{
        position: relative;
        left:16vw;
        height: 100%;
        background-color: $color-tertiary;
        color: white;
        transform: scaleX(16vw);
    }
    @include tablet-responsive{
        height: 7vw;
        border-radius: 1.3vw;
        margin-bottom: 1.5vw;
        &__description{
            padding: 1.9vw 1.2vw; 
        }
    }
}