.footer{
    @include padding;
    background-color: #353535;
    &__logo{
        filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(126deg) brightness(102%) contrast(102%);
        height: 1em;
        margin-bottom: 1em;
        img{
            height: 100%;
        }
    }
    &__link{
        color: white;
        padding-bottom: 0.5em;
        a{
            color: white;
        }
        i{
            margin-right: 0.5em;
        }
    }
}