.header{
    width: 100%;
    box-shadow: $box-shadow;
    background-color: white;
    height: 65px;
    padding-top: auto;
    &__logo{
        width:46%;
        margin: auto;
        img{
            width:100%;
            margin-top:20px;
        }
    }
    &__previous{
        position: absolute;
        top: 1.2em;
        left: 1.2em;
        border: none;
        background-color: white;
        font-size: 1.2em;
        color: #2D2D2D;
    }
}
