@font-face{
    font-family: 'Shrikhand';
    src: url('../fonts/Shrikhand-Regular.ttf');
}

@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face{
    font-family: 'Roboto Thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

*{
    font-family: 'Roboto';
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}