@font-face{
    font-family: 'Shrikhand';
    src: url('font/Shrikhand-Regular.ttf')
}

@font-face{
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf')
}

@font-face{
    font-family: 'Roboto Thin';
    src: url('font/Roboto-Thin.ttf')
}

*{
    font-family: 'Roboto';
}

a{
    text-decoration: none;
    color: black;
}

button{
    border: none;
    background-color: rgba(white, 0);
}

li{
    list-style-type: none;
}